/*VIPUL*/
#slidorion-container{
  width: 100%;
}
#slidorion {
  font-family: sans-serif;
	width: 100%;
	height: 400px;
	position: relative;
	padding: 5px;
	background: #cbcbcb;
	border: 1px solid #bbb;
}

#slider {
	width: 65%;
	height: 380px;
	position: relative;
	float: left;
	overflow: hidden;
}
.slider-image {
	position: relative;
}

#accordion {
	width: 35%;
	height: 400px;
	position: relative;
	z-index:999;
	float: left;
}

#accordion .header {
	height: 36px;
	color: #333;
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 59%, #dcdcdc 100%);
	background: -webkit-linear-gradient(top, #ededed 59%,#dcdcdc 100%);
	background: -o-linear-gradient(top, #ededed 59%,#dcdcdc 100%);
	background: -ms-linear-gradient(top, #ededed 59%,#dcdcdc 100%);
	background: linear-gradient(top, #ededed 59%,#dcdcdc 100%);
	border: none;
	border-top: 1px solid #ccc;
}

#accordion .header a {
	background: none;
	padding: 8px 14px;
	font-weight: bold;
	font-size: 15px;
	display: block;
    text-align: center;
}

#accordion .header a:hover {
	background: #ededed;
	cursor: pointer;
}

#accordion .header a.active {
	border-bottom: none;
	background-color: #676767 !important;
	color: white;
    text-shadow: 0.5px 1px 1px black;
}

#accordion .content {
	height: 270px;
	font-size: 12px;
	padding: 16px;
	background: lightgray;
	overflow:auto;
  text-align: justify;
}
#accordion .content a{
  color: rgb(143, 139, 137);
}
#accordion .content a:hover{
  color: rgb(236, 199, 49);
}

@media only screen and (max-width: 900px)
{
  #slidorion{
    width: 100%;

  }
  #slider{
    display: none;

  }
  #accordion{
    width: 100%;
  }

  #accordion .header a {
    font-size: 10px;
  }

}
@media  only screen and (max-width: 510px) {
  #slidorion{
    width: 100%;
  }
  #accordion .content{
    font-size: 10px;
  }
}
